{% macro pagination(pager) -%}
  {% if pager.total > pager.page_size %}
    <nav aria-label="Result pages">
      <ul class="pagination">
        <li class="page-item{% if not pager.previous_url %} disabled{% endif %}">
          <a class="page-link" {% if pager.previous_url %}href="{{ pager.previous_url }}"{% endif %}>Previous</a>
        </li>
        <li class="page-item disabled"><span class="page-link">Page {{ pager.page }}</span></li>
        <li class="page-item{% if not pager.next_url %} disabled{% endif %}">
          <a class="page-link" {% if pager.next_url %}href="{{ pager.next_url }}"{% endif %}>Next</a>
        </li>
      </ul>
    </nav>
  {% endif %}
{%- endmacro %}
